:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: verdana, arial, helvetica, sans-serif;
  background-color: #dae0e6;
}

button {
  border: 0.1em solid transparent;
}

button:hover {
  border: 0.1em solid;
  border-color: #d0d0d0;
}

.fa-caret-down {
  font-size: 1.4em;
  color: gray;
}

nav {
  padding: 0.2em 1em 0.2em 1em;
}

.reddit-icon {
  display: flex;
  align-items: center;
  padding-left: 0.3em;
}

.reddit-text {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.3em;
  padding: 0em 2.5em 0em 0.5em;
  font-family: sans-serif !important;
}

.subreddit-dropdown {
  display: flex;
  position: relative;
  padding: 1.2em 0.3em 0.3em 0.3em;
  border-radius: 0.2em;
}

.subreddit-text {
  display: flex;
  /* centers subreddit text */
  align-items: center;
  font-weight: bold;
  padding-right: 5em;
}

.search-container {
  display: flex;
  align-self: center;
  padding: 0em 1em 0em 1em;
}

.search-container input {
  font-size: 2em;
  width: 10em;
}

.search-glass-button {
  display: flex;
  align-self: center;
  height: 2em;
  border: 0.01em solid rgb(209, 204, 204) !important;
  background-color: #f2f5f8dc;
}

.fa-search {
  color: rgb(24, 21, 21);
}

.fa-search:hover {
  color: #2eb79e;
}

.search-glass-button:hover {
  border: 0.01em solid rgb(209, 204, 204) !important;
  background-color: white;
}

.create-post-container {
  display: flex;
  align-self: center;
  padding: 0.5em 1em 0em 7em;
}

.create-post-button:hover {
  color: #55ddc6;
}

.profile-dropdown-container {
  display: flex;
  padding: 1.2em 0.3em 0.3em 1em;
  font-weight: bold;
  border-radius: 0.2em;
}

.profile-dropdown {
  display: flex;
  padding-right: 2em;
  font-weight: bold;
}

.username-container {
  padding-right: 1.5em;
}

.username {
  font-weight: bold;
}

.banner {
  /* display flex aligns banner text with image */
  display: flex;
  background-color: #55ddc6;
  color: #fcfcfb;
  padding: 1em;
  margin-bottom: 0;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.3em;
}

.body-background {
  background-color: #dae0e6;
  padding: 2em 5em 2em 5em;
}

/* gray color between each post */
.between-posts {
  background-color: #dae0e6;
  /* height between posts is the padding */
  padding: 0.2em;
}

.white-rectangles {
  background: white;
  width: 30em;
}

.posted-by {
  padding: 0.4em 0em 1em 8em;
  font-size: 0.5em;
  color: #8a8d8d;
  font-weight: bold;
}

.timepassed {
  padding: 0.4em 0em 1em 0.5em;
  font-size: 0.5em;
  color: #8a8d8d;
  font-weight: bold;
}

.user-and-timepassed {
  display: flex;
  flex-direction: row;
}

.post-title {
  padding-left: 2em;
  font-size: 0.8em;
}

.post-content {
  padding: 0.7em 0em 0em 2.6em;
  font-size: 0.6em;
}

.user-settings-container {
  display: flex;
  font-size: 2em;
  color: black;
  padding: 0em 1em 0.5em 0em;
}

.user-settings-title {
  padding-left: 0.2em;
}

.comments {
  border: 0.1em solid;
  margin-left: 3em;
  border: 0.01em solid rgb(209, 204, 204) !important;
  background-color: white;
}

.comments:hover {
  margin-left: 3em;
  border: 0.01em solid rgb(209, 204, 204) !important;
  background-color: #d2d6dadc;
}

.arrows {
  border: 0.01em solid rgb(209, 204, 204) !important;
  background-color: white;
}

.arrows:hover {
  border: 0.01em solid rgb(209, 204, 204) !important;
  background-color: #d2d6dadc;
}

.community {
  background-color: #2eb79e;
  color: #fcfcfb;
  padding: 0.6em;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1.3em;
  text-transform: uppercase;
}

.card {
  width: 20em;
  height: 12em;
}

/* .create-post-button-two {
  background-color: #104e44;
} */

.card-footer-item {
  color: white;
  font-size: 0.8em;
  font-weight: 500;
}

.card-footer-item:hover {
  color: white;
}

/* newpostpage component css */

.contact-header {
  display: flex;
  justify-content: center;
  padding: 4em 0em 1em 0em;
}

.form-header {
  font-weight: bold;
}

.input-field {
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

.title-input {
  width: 30em;
}

.content-input {
  /* padding-bottom moves text (optional) up */
  padding-bottom: 5em;
  width: 30em;
  height: 8em;
}

.post-button {
  display: flex;
  justify-content: center;
  padding: 1em 0em 0em 8em;
}

/* search page css */
.search-header-container {
  padding: 2em;
  font-size: 1.5em;
}

.search-header {
  font-weight: bold;
}

/*mobile version*/
@media (max-width: 360px) {
  .navbar {
    padding: 0.6em;
  }
  .reddit-text,
  .search-container,
  .search-glass-button {
    display: none;
  }
  .subreddit-dropdown {
    padding: 0em;
  }
  .subreddit-text {
    font-size: 0.1em;
    padding-right: 0em;
    color: transparent;
  }
  .create-post-container {
    padding: 0em;
  }
  .profile-dropdown-container {
    padding: 0.1em;
    color: transparent;
  }
  .profile-dropdown,
  .username-container {
    padding-right: 0em;
  }
  .username {
    font-size: 0.2em;
  }
  .body-background {
    padding: 1em 0em 0em 0em;
  }
  .between-posts {
    padding: 0.1em;
  }
  .title {
    padding-left: 0.5em;
  }
  .white-rectangles {
    width: 10em;
  }
  .comments {
    font-size: 0.8em;
    margin-left: 5.5em;
  }
}
