:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: verdana, arial, helvetica, sans-serif;
  background-color: #dae0e6;
}

button {
  border: 0.1em solid transparent;
}

button:hover {
  border: 0.1em solid;
  border-color: #d0d0d0;
}

.fa-caret-down {
  font-size: 1.4em;
  color: gray;
}

nav {
  padding: 0.2em 1em 0.2em 1em;
}

.reddit-icon {
  display: flex;
  align-items: center;
  padding-left: 0.3em;
}

.reddit-text {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.3em;
  padding: 0em 2.5em 0em 0.5em;
  font-family: sans-serif !important;
}

.subreddit-dropdown {
  display: flex;
  padding: 1.2em 0.3em 0.3em 0.3em;
  border-radius: 0.2em;
}

.subreddit-text {
  display: flex;
  /* centers subreddit text */
  align-items: center;
  font-weight: bold;
  padding-right: 16em;
}

.search-container {
  display: flex;
  align-self: center;
  padding: 0em 1em 0em 1em;
}

.search-container input {
  font-size: 2em;
  width: 10em;
}

.search-glass-button {
  display: flex;
  align-self: center;
  height: 2em;
  border: 0.01em solid rgb(209, 204, 204) !important;
  background-color: #f2f5f8dc;
}

.search-glass-button:hover {
  border: 0.01em solid rgb(209, 204, 204) !important;
  background-color: white;
}

.create-post-button {
  display: flex;
  align-self: center;
  padding-left: 14em;
  padding-right: 1em;
}

.profile-dropdown-container {
  display: flex;
  padding: 1.2em 0.3em 0.3em 0.3em;
  font-weight: bold;
  border-radius: 0.2em;
}

.profile-dropdown {
  display: flex;
  padding-right: 12em;
  font-weight: bold;
}

.username-container {
  padding-right: 1.5em;
}

.username {
  font-weight: bold;
}

.banner {
  /* display flex aligns banner text with image */
  display: flex;
  background-color: #55ddc6;
  color: #fcfcfb;
  padding: 1em;
  margin-bottom: 0;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.3em;
}

/* gray background
.body-background {
  /* background-color: #dae0e6; */
/* padding: 2em 5em 2em 5em; */

*/ .between-posts {
  background-color: #dae0e6;
  /* height between posts is the padding */
  padding: 0.2em;
}

.white-rectangles {
  background: white;
  width: 30em;
}

.title {
  display: flex;
  padding-left: 2em;
}

/* 
.each-post {
 
} */

.comments {
  border: 0.1em solid;
  margin-left: 3em;
  border: 0.01em solid rgb(209, 204, 204) !important;
  background-color: white;
}

.comments:hover {
  margin-left: 3em;
  border: 0.01em solid rgb(209, 204, 204) !important;
  background-color: #d2d6dadc;
}

.arrows {
  border: 0.01em solid rgb(209, 204, 204) !important;
  background-color: white;
}

.arrows:hover {
  border: 0.01em solid rgb(209, 204, 204) !important;
  background-color: #d2d6dadc;
}

.community {
  background-color: #2eb79e;
  color: #fcfcfb;
  padding: 0.6em;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1.3em;
  text-transform: uppercase;
  /* padding-left: 4em; */
}

.card {
  width: 20em;
  height: 12em;
}

.create-post-button-two {
  background-color: #104e44;
}

.card-footer-item {
  color: white;
  font-size: 0.8em;
  font-weight: 500;
}

.card-footer-item:hover {
  color: white;
}

/* newpostpage component css */

/* .new-post-background {
  background-color: green;
} */

.contact-header {
  display: flex;
  padding-left: 2em;
  padding-top: 2em;
}

.form-header {
  font-weight: bold;
}

.input-field {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 18em;
}

.post-button {
  display: flex;
  padding-left: 13em;
}
